header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .social p {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
footer .social p {
	width: 90%;
	height: 20%;
}

