body {
	background: #1C1C1C;
	font-family: Calibri;
}
/*Cabeçario*/
	header {
		background: #363636;
		padding: 20px 0;
	}
	.container {
		position: relative;
		width: 940px;
		margin: 0 auto;
	}
	header .logo {
		width: 3%;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}
	header img:hover{
		transition: 300ms;
		color: lightgray;
		box-shadow: 8px 8px 8px 0 #000000;
	}
	header h1 {
		text-decoration: underline;
	}
	header h1:hover {
		transition: 300ms;
		color: lightgray;
		text-decoration: underline;
	}
	nav {
		position: absolute;
		top: 10px;
		right: 100px;
	}
	nav li {
		display: inline;
		margin: 0 0 0 15px;
	}
	nav a {
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		font-size: 22px;
		text-decoration: none;
		border: 2px solid transparent;
		background: rgba(0,0,0, 0.1);
		padding: 2px 2px;
	}
	nav a:hover {
		transition: 400ms;
		color: lightgray;
		box-shadow: 4px 4px 4px 0 #000000;
		border: 2px solid transparent;
	}
/*=========*/

/*Main*/
	a {
		text-decoration: none;
	}
	main {
		font-family: 'Fira Code', monospace;
	}
	.projetos, .modificados {
		width: 940px;
		margin: 0 auto;
		padding: 15px 0;
	}
	.projetos li, .modificados li {
		color: white;
		display: inline-block;
		text-align: center;
		width: 30%;
		vertical-align: top;
		margin: 10px 10px 10px 10px;
		padding: 30px 20px;
		box-sizing: border-box;
		border: 4px solid transparent;
		border-radius: 15px;
		background: rgba(255,255,255,0.01);
	}
	.projetos li a, .modificados li a {
		text-decoration: none;
	}
	.projetos img, .modificados img {
		border: 2px solid black;
		border-radius: 15px;
		width: 100%;
		margin: 20px 0 8px 0;
	}
	.projetos li:hover, .modificados li:hover {
		transition: 600ms;
		border-radius: 15px;
		border-image: linear-gradient(140deg, rgba(0,0,0,1), rgba(229,0,255,1)) 1;
		color: purple;
		box-shadow: 0px 0px 18px black;
	}
	.projetos li:active, .modificados li:active {
		transition: 400ms;
		border-color: #088C19;
	}
	.projetos h2, .modificados h2 {
		font-size: 16px;
		font-weight: bold;
		padding: 2px 2px;
		margin: 4px 4px 4px;
	}
	.botoesProjeto {
		margin-top: 10px;
	}
	.botaoProjetoFonte, .botaoProjeto {
		width: 10%;
		text-decoration: none;
		color: transparent;
		background: transparent;
		margin: 10px 5px 5px 5px;
		line-height: 40px;
		padding: 10px 10px;
		border: 2px solid transparent;
		border-radius: 6px;
	}
	.botaoProjetoFonte:hover, .botaoProjeto:hover {
		border-color: purple;
	}
	.projetos li:hover .botaoProjetoFonte,
	.modificados li:hover .botaoProjetoFonte,
	.projetos li:hover .botaoProjeto,
	.modificados li:hover .botaoProjeto {
		transition: 600ms;
		color: darkgray;
		background: rgba(169,169,169, 0.08);
	}
	.compatiblidade {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 10px;
	}
	.tagMobile {
		background: #6A5ACD;
		padding: 6px 6px;
		border-radius: 15px;
		color: white;
		z-index: 10;
	}
	.tagComputer {
		background: #6A5ACD;
		padding: 6px 6px;
		border-radius: 15px;
		color: white;
		z-index: 10;
	}

	/*--*/
	.modificados h3 {
		margin: 4px 4px 4px 4px;
		text-transform: uppercase;
		text-align: center;
		color: white;
		font-size: 26px;
		font-weight: bold;
	}
/*FIM DA MAIN*/

/*Rodapé*/
	footer {
		background: #363636;
		padding: 20px 8px;
	}
	footer ul {
		width: 25%;
	}
	footer img {
		width: 4%;
	}
	/*Área footer*/
	.footer {
		display: flex;
		justify-content: space-between;
		padding: 10px 10px;
	}
	.social {
		display: flex;
		justify-content: space-around;
		align-items: center
	}
	.social li {
		margin-left: 10px;
	}
	.social i {
		color: black;
		font-size: 35px;
	}
	.social img {
		width: 30px;
		padding: 2px 2px;
		border: 2px solid #4F4F4F;
		margin: 0 5px 0 5px;
	}
	.social li i:hover {
		transition: 400ms;
		color: white;
	}
	/**/
	.link-footer, .footer-page {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.link-footer, .footer-page {
		text-align: left;
		/*list-style: square;*/
		line-height: 20px;
	}
	footer a {
		/*text-transform: uppercase;*/
		color: #A9A9A9;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
	}
	.link-footer a:before, .footer-page a:before {
		content: "|";
	}
	footer a:hover {
		transition: 300ms;
		color: #A020F0;
	}
	.link-footer a:hover, .footer-page a:hover {
		content: "|" lightblue;
	}
	footer h4 {
		color: #808080;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
/*======*/
