
h1 {
	font-size: 3em;
	font-weight: 800;
}
.marcacao-python {color: rgb(0,0,205);}
.marcacao-javascript {color: rgb(255,255,0);}
.marcacao-html {color: rgb(255,69,0)}
.marcacao-css {color: rgb(123,104,238);}

/* ------------------------------- */



.main-section-header {
	background: url(../img/index/banner.svg);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	height: 200px;
}
.container-titulo-header-main {
	margin-right: 8em;
}
.titilo-inicio {
	padding: 10px 0 10px 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 1.5em;
	font-weight: bold;
}
.subtitulo-header {
	color: rgb(128,128,128);
}
.apresentacao-inicio {
	padding: 20px 20px 20px 20px;
	text-align: justify;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 800;
	font-size: 0.8em;
	line-height: 1.2em;
	/*align-items: center;*/
}
.apresentacao-inicio-avatar {
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
.apresentacao-inicio-texto {
	width: 60%;
	font-size: 1.5em;
	line-height: 1.4em;

}

/* LINGUAGENS E FERRAMENTAS */
.main-sections-linguagens {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 0 20px 0;

	background: linear-gradient(rgb(35, 39, 42), purple)
}

.containter-linguagens, .containter-ferramentas {
	transition: 400ms;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: rgba(0,0,0,0.2);
	padding: 0px 10px 0px 10px;
}
.containter-linguagens img,
.containter-ferramentas img {
	margin: 10px 0 10px 0;
}
.containter-linguagens img:hover,
.containter-ferramentas img:hover {
	transition: 400ms;
	box-shadow: 8px 8px 8px black;
}
/*.container-linguagem-box {
	transition: 400ms;
	background: rgba(138,43,226, 0.3);
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	width: 80px;
	height: 80px;

	margin: 10px 10px 10px 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.container-linguagem-box:hover {
	transition: 600ms;
	box-shadow: 8px 8px 8px black;
	color: rgba(255,0,255,1);
	border-radius: 0;
	transform: rotate(10deg);
	filter: blur(0px);
	background-color: rgba(138,43,226, 0.8);
}*/
/*.icone-linguagens {
	width: 40%;
}
.nome-linguagen {
	margin-top: 10px;
	font-size: 0.6em;
	font-weight: 800;
}
.descricao-linguagem {
	font-size: 0.8em;
	opacity: 0.8;
	margin-top: 4px;
}*/



/* STATS */

.section-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0 20px 0;
	/*background: linear-gradient(0deg, purple 0%, rgba(35,39,42,1) 25%, rgba(35,39,42,1) 68%, purple 100%);*/
	background: linear-gradient(purple 0%, rgba(35,39,42,1) 100%)
}
.stats-wakatime {
	width: 50%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.stats-wakatime img, .stats-wakatime embed {
	width: 60%
}


.main-section-projetos {
	background: linear-gradient(rgba(35,39,42,1) 0%, purple 100%);
	margin: 0px 0 -12px 0;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.projetos-container {
	width: 90%;
}
.projeto-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.projeto-item {
	width: 20%;
	background: rgba(45 ,49, 52, 0.8);
	padding: 10px 10px 10px 10px;
	margin: 6px 6px 6px 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	border: 4px solid gray;
}
/*.projeto-item:hover {
	transition: 600ms;
	border-color: green;
}*/
.titulo-projetos {
	background: transparent;
	color: white;
	font-size: 1.4em;
	font-weight: lighter;
	background: gray;
	margin-bottom: 20px;
}
.logo-projeto {
	width: 75%;
	border-radius: 10px;
}
.subtitulo-projetos {
	color: lightgray;
	margin: 25px 0 25px 0;
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: bold;
}
.button-projeto {
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	font-size: 0.8em;
	width: 90%;
}
.button-projeto {
	transition: 400ms;
	background-color: gray;
}
.button-projeto:hover {
	transition: 400ms;
	border-color: white;
	background-color: green;
}






/* SERVIÇOS */
.main-sections-servicos {
	background: linear-gradient(purple, rgb(35, 39, 42));
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
.containers-servicos {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.servico-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.servicos-item {
	width: 30%;
	padding: 4px 4px 4px 4px;
	border-radius: 15px;
	background-color: rgba(45, 49, 52, 0.8);
	border: 2px solid rgb(138,43,226);
}
.servicos-item {
	transition: 400ms;
	box-shadow: none;
}
.servicos-item:hover {
	transition: 400ms;
	box-shadow: 8px 8px 8px black;
}
h3.titulo-servicos {
	font-size: 1.1em;
	font-weight: 800;
	width: 100%;
	background: rgb(138,43,226);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 0 10px 0;
	text-align: center;
}
.container-preco {
	display: flex;
	align-items: flex-start;
}
.container-preco span {
	width: 20%;
	font-size: 0.6em;
	font-weight: 1000;
	margin: 4px 4px 4px 4px;
}
.preco-servico {
	margin-bottom: 10px;
	font-size: 1.6em;
	font-weight: 1000;
}
.texto-servicos {
	margin-bottom: 10px;
	font-size: 0.6em;
	text-align: center;
}
.lista-servico {
	width: 90%;
	padding: 10px 10px 10px 25px;
	color: rgb(080, 080, 080);;
	/*list-style: square;*/
	list-style: none;
	background: rgba(222, 222, 222, 1);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
	line-height: 1.6em;
	font-size: 0.8em;
	font-weight: 800;
}
/*.lista-servico li p {

}*/
.cheked:before {
	content: "✔ ";
	color: green;
}
.nao-cheked:before {
	content: "✘ ";
	color: red;
}
.botao-servico {
	padding: 10px;
	background-color: gray;
	width: 100%;
	font-size: 0.8em;
	font-weight: 800;
	border-radius: 15px;

	display: flex;
	align-items: center;
	justify-content: space-around;

}
.botao-servico {
	transition: 400ms;
	background-color: gray;
}
.botao-servico:hover {
	transition: 400ms;
	background-color: green;
}
/*.botao-servico img {
	width: 8%;
}*/





/* --------------- */

.animacao-titulo {
	animation: animacao-titulo 10s infinite;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	opacity: 0;
	padding: 4px 4px 4px 4px;
	text-align: center;
}

@keyframes animacao-titulo {
	0% {
		opacity: 0;
		width: 0;
	}
	50% {
		width: 13em;
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	99% {
		opacity: 0;
		width: 13em;
	}
	100% {
		width: 0;
	}

}
