@media(max-width: 768px) {

	/*Header*/
		header {
			padding: 10px 0;
			height: 200px;
			width: 100%;
		}
		.container {
			width: 90%;
			height: 90%;
			position: initial;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;

		}	
		.logoLink {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
			padding: 10px 10px;
		}
		header .logo {
			width: 90px;
			height: 90px;
		}
		.container nav {
			position: initial;
			width: 48%;
		}
		header .container nav ul {
			display: flex;
			justify-content: space-around;
		}

		header .container nav a {
			font-size: 30px;
		}
		
		main {
			padding: 0px 0px;
			width: 100%;
		}

 	/*Conteudo*/
 		main {
 			display: flex;
 			flex-direction: column;
 			align-items: center;
 		}
	 	.projetos ul {
	 		width: 20%;
	 	}
	 	.projetos {
	 		width: 100%;
	 		margin: 0;
	 		padding: 0;
	 		display: flex;
	 		flex-direction: column;
	 		align-items: : center;
			margin: 0;
			padding: 50px 0;
		}
		main ul a {
			display: flex;
			justify-content: center;
		}
		.projetos li {
			width: 94%;
			margin: 10px 10px 10px 10px;
			padding: 30px 20px;
		}
		.modificados {
			width: 95.5%;
			margin: 0;
		}
		.modificados ul {
	 		width: 90%;
	 		display: flex;
			flex-direction: column;
	 	}
	 	.modificados ul a li {
	 		width: 94%;
	 	}
	/*Footer*/
		footer img {
			width: 15%;
			margin: 4px 4px;
		}

		.social img {
			width: 18%;
		}
		.social .link-social {
			display: flex;
			flex-wrap: wrap;
		}
		.social .link-footer a {
			font-size: 20px;
		}


}

/* ----------- iPad Pro ----------- */

@media(min-width: 768px) and (max-width: 1112px) {

	.projetos h2 {
		font-size: 50px;
	}
	.projetos .desc_projeto {
		font-size: 38px;
	}
	.projetos .data_projeto {
		font-size: 40px;
	}
	a li .desc_projeto {
		font-size: 38px;
	}
	a li .data_projeto {
		font-size: 40px;
	}
	.modificados ul li h2 {
		font-size: 50px;
	}

	footer .social .link-footer a {
		font-size: 50px;
	}
	/*Header*/
		header {
			padding: 10px 0;
			height: 200px;
			width: 100%;
		}
		.container {
			width: 90%;
			height: 90%;
			position: initial;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;

		}	
		.logoLink {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
			padding: 10px 10px;
		}
		header .logo {
			width: 90px;
			height: 90px;
		}
		.container nav {
			position: initial;
			width: 48%;
		}
		header .container nav ul {
			display: flex;
			justify-content: space-around;
		}

		header .container nav a {
			font-size: 50px;
		}
		
		main {
			padding: 0px 0px;
			width: 100%;
		}

 	/*Conteudo*/
 		main {
 			display: flex;
 			flex-direction: column;
 			align-items: center;
 		}
	 	.projetos ul {
	 		width: 20%;
	 	}
	 	.projetos {
	 		width: 100%;
	 		margin: 0;
	 		padding: 0;
	 		display: flex;
	 		flex-direction: column;
	 		align-items: : center;
			margin: 0;
			padding: 50px 0;
		}
		main ul a {
			display: flex;
			justify-content: center;
		}
		.projetos li {
			width: 94%;
			margin: 10px 10px 10px 10px;
			padding: 30px 20px;
		}
		.modificados {
			width: 95.5%;
			margin: 0;
		}
		.modificados ul {
	 		width: 90%;
	 		display: flex;
			flex-direction: column;
	 	}
	 	.modificados ul a li {
	 		width: 94%;
	 	}
	/*Footer*/
		footer img {
			width: 15%;
			margin: 4px 4px;
		}

		.social img {
			width: 18%;
		}
		.social .link-social {
			display: flex;
			flex-wrap: wrap;
		}
		.social .link-footer a {
			font-size: 20px;
		}
}
