@media(max-width: 768px) {

	/*Header*/
		header {
			padding: 10px 0;
			height: 200px;
			width: 100%;
		}
		.container {
			width: 90%;
			height: 90%;
			position: initial;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;

		}	
		.logoLink {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
			padding: 10px 10px;
		}
		header .logo {
			width: 90px;
			height: 90px;
		}
		.container nav {
			position: initial;
			width: 48%;
		}
		header .container nav ul {
			display: flex;
			justify-content: space-around;
		}

		header .container nav a {
			font-size: 30px;
		}
		
		main {
			padding: 0px 0px;
			width: 100%;
		}

 	/*Conteudo*/
 		a {
 			text-decoration: none;
 		}
 		main {
 			display: flex;
 			flex-direction: column;
 			align-items: center;
 		}
 		main ul a {
			display: flex;
			justify-content: center;
		}
	 	.projetos, .modificados {
	 		width: 100%;
	 		margin: 0;
	 		padding: 0;
	 		display: flex;
	 		flex-direction: column;
	 		align-items: : center;
			margin: 0;
			padding: 50px 0;
		}
		.projetos ul {
	 		width: 20%;
	 	}
		.projetos li, .modificados li {
			width: 94%;
			margin: 10px 10px 10px 10px;
			padding: 30px 20px;
		}
		.modificados ul {
			width: 100%;
		}
		.botoesProjeto {
			display: flex;
			justify-content: space-around;
		}
		.botaoProjetoFonte, .botaoProjeto {
			width: 20%;
			margin: 10px 5px 5px 5px;
			padding: 10px 10px;
			color: darkgray;
			background: rgba(169,169,169, 0.08);
		}
	/*Footer*/
		.footer {
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		.social i {
			font-size: 50px;
		}
		.footer-page, .link-footer {
			margin-top: 10px;
			width: 90%;
		}
		.footer-page, .link-footer {
			margin-top: 10px;
			width: 90%;
		}
		.social .link-social {
			display: flex;
			flex-wrap: wrap;
		}
		.link-footer a, .footer-page a {
			font-size: 22px;
		}


}

/* ----------- iPad Pro ----------- */

@media(min-width: 768px) and (max-width: 1112px) {

	.projetos h2 {
		font-size: 50px;
	}
	.modificados ul li h2 {
		font-size: 50px;
	}

	footer .social .link-footer a {
		font-size: 50px;
	}
	/*Header*/
		header {
			padding: 10px 0;
			height: 200px;
			width: 100%;
		}
		.container {
			width: 90%;
			height: 90%;
			position: initial;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;

		}	
		.logoLink {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
			padding: 10px 10px;
		}
		header .logo {
			width: 90px;
			height: 90px;
		}
		.container nav {
			position: initial;
			width: 48%;
		}
		header .container nav ul {
			display: flex;
			justify-content: space-around;
		}

		header .container nav a {
			font-size: 50px;
		}
		
		main {
			padding: 0px 0px;
			width: 100%;
		}

 	/*Conteudo*/
 		a {
 			text-decoration: none;
 		}
 		main {
 			display: flex;
 			flex-direction: column;
 			align-items: center;
 		}
 		main ul a {
			display: flex;
			justify-content: center;
		}
	 	.projetos, .modificados {
	 		width: 92%;
	 		margin: 0 auto;
	 		padding: 0;
	 		display: flex;
	 		align-items: : center;
			margin: 0;
			padding: 50px 0;
			flex-wrap: wrap;
		}
		.projetos ul {
	 		width: 100%;
	 		display: flex;
	 		flex-wrap: wrap;
	 	}
		.projetos li, .modificados li {
			width: 47%;
			margin: 10px 10px 10px 10px;
			padding: 30px 20px;
		}
		.projetos h2, .modificados ul li h2 {
			font-size: 25px;
		}
		.modificados ul {
			width: 100%;
		}
		.botoesProjeto {
			display: flex;
			justify-content: space-around;
		}
		.botaoProjetoFonte, .botaoProjeto {
			width: 20%;
			margin: 10px 5px 5px 5px;
			padding: 10px 10px;
			color: darkgray;
			background: rgba(169,169,169, 0.08);
		}
		h3 {
			text-align: center;
		}
	/*Footer*/
		.footer {
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		.social i {
			font-size: 50px;
		}
		.footer-page, .link-footer {
			margin-top: 10px;
			width: 90%;
		}
		.footer-page, .link-footer {
			margin-top: 10px;
			width: 90%;
		}
		.social .link-social {
			display: flex;
			flex-wrap: wrap;
		}
		.link-footer a, .footer-page a {
			font-size: 22px;
		}
}
